<!DOCTYPE html>
<html>
<head>
  <title>MadlibDemo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>MADlibs
  <a href="/housing_prices" class="run_predictions">Run Predictions</a>
  <a href="/add_housing_prices" class="add_data">Add Data</a>
</header>

<div class="wrapper">
  <%= yield %>
</div>

</body>
</html>
